{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="../styles/card.css">
    <link rel="stylesheet" href="../styles/input.css">
{% endblock styles %}

{% block head %}
    <title>School - Show</title>
{% endblock head %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">

            <h3>Detalhes</h3>

            <div>

                <div class="item">
                    <div>Professor</div>
                    <div>{{teacher.name}}</div>
                </div>

                <div class="item">
                    <div>Idade</div>
                    <div>{{teacher.age}}</div>
                </div>

                <div class="item">
                    <div>Nível Escolar</div>
                    <div>{{teacher.grau}}</div>
                </div>

                <div class="item">
                    <div>Tipo de aula</div>
                    <div>{{ "Presencial" if teacher.classe == "P" else "À distância" }}</div>
                </div>

                <div class="item">
                    <div>Acompanhamento</div>
                    <div>
                        {% for service in teacher.services %}
                            <span>{{ service }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <div>Desde</div>
                    <div>{{teacher.created_at}}</div>
                </div>

                <div class="buttons">
                        
                    <a href="/teachers/{{teacher.id}}/edit" class="button">Editar</a>

                    <form id="form-delete" action="/teachers?_method=DELETE" method="post">
                        <input type="hidden" name="id" value={{teacher.id}}>
                        <button type="submit">Deletar</button>
                    </form>

                </div>

            </div>

        </section>

    </div>

    <script src="/edit.js"></script>

{% endblock content %}