{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="../styles/card.css">
    <link rel="stylesheet" href="../styles/input.css">
{% endblock styles %}

{% block head %}
    <title>School - Show</title>
{% endblock head %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url({{student.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">

            <h3>Detalhes</h3>

            <div>

                <div class="item">
                    <div>Estudante</div>
                    <div>{{student.name}}</div>
                </div>

                <div class="item">
                    <div>Idade</div>
                    <div>{{student.age}}</div>
                </div>

                <div class="item">
                    <div>Aniversário</div>
                    <div>{{student.birthday}}</div>
                </div>

                <div class="item">
                    <div>Escolariedade</div>
                    <div>{{student.schoolyearn}}</div>
                </div>

                <div class="item">
                    <div>Carga Horária Semanal</div>
                    <div>{{student.weekly}}</div>
                </div>

                
                <div class="buttons">
                        
                    <a href="/students/{{student.id}}/edit" class="button">Editar</a>

                    <form id="form-delete" action="/students?_method=DELETE" method="post">
                        <input type="hidden" name="id" value={{student.id}}>
                        <button type="submit">Deletar</button>
                    </form>

                </div>

            </div>

        </section>

    </div>

{% endblock content %}