@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 

:root{
    --primary-color: rgb(91, 143, 255);
    --secondary-color:#5f5f5f;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
    background-image: url(../img/body.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

